// stylesheet :: custom variables

    // text utilities

        // shorthand
        @type : font;
        @text : text;

        // formatting
        @txtup    : uppercase;
        @antilias : antialiased;
        @pixperf  : geometricPrecision;

        // eat dicks
        @toolbar-ui-color : darken( @app-canvas, 3.5% );

        // fonts

            // code
            @code-font : 'RobotoMono';
            @decimano  : 'Decima Mono';
            @centimont : 'Centima Mono';
            @unispacer : 'Unispace';
            @input-IO  : 'Input';
            @input-UI  : 'Input Sans';

            // body copy
            @indu-font : 'Industry';
            @helvetica : 'Helvetica Neue';

            // display
            @klav-font : 'Klavika';
            @klav-slim : 'Klavika Condensed';
            @titillium : 'Titillium';
            @sairyseum : 'Saira';

            // novelty
            @extros    : 'Extros Backstage';
            @minimont  : 'minim';
            @rationale : 'Rationale One';

            // icons
            @octicons  : 'Octicons Regular';
            @badmofo   : 'badmotherfucker';
            @codicons  : 'codicons';

    // background utilities

        // shorthand


    // maths + constants

        // UI controls
        @ui-status-bar-height : 3rem;
        @pane-tab-ui-link     : 192px;

    // animations

        // simple
        @all220 : all 220ms linear 0ms;

        // baller
        @zipit  : cubic-bezier( 0.19, 1, 0.22, 1);
        @oquin  : cubic-bezier( 0.23, 1, 0.32, 1);
        @ioexpo : cubic-bezier( 1, 0, 0, 1 );
        @ocirc  : cubic-bezier( 0.075, 0.82, 0.165, 1 );
