// stylesheet :: custom variables

    // text utilities

        // shorthand
        @type : font;
        @text : text;

        // formatting
        @txtup    : uppercase;
        @antilias : antialiased;
        @pixperf  : geometricPrecision;

        // simple colors
        @lite : @text-color-selected;
        @gold : #D7D392;

        // eat dicks
        @toolbar-ui-color : darken( @app-canvas, 3.5% );
        @app-canvas-45 : darken( @app-canvas, 4.5% );
        @app-canvas-55 : darken( @app-canvas, 5.5% );
        @app-canvas-65 : darken( @app-canvas, 6.5% );
        @app-canvas-75 : darken( @app-canvas, 7.5% );

        // fonts

            // code
            @code-font : 'RobotoMono';
            @decimano  : 'Decima Mono';

            // body copy
            @indu-font : 'Industry';
            @helvetica : 'Helvetica Neue';
            @industry : @indu-font;

            // display
            @klav-font : 'Klavika';
            @klav-slim : 'Klavika Condensed';

            // icons
            @octicons  : 'Octicons Regular';
            @codicons  : 'codicons';

    // background utilities

        // shorthand

    // maths + constants

        // UI controls
        @ui-status-bar-height : 3rem;
        @pane-tab-widescreen : 10.625rem;
        @pane-tab-standard   : 10rem;
        @pane-tab-widescreen-end : 10.75rem;

    // animations

        // simple
        @all220 : all 220ms linear 0ms;

        // baller
        @zipit  : cubic-bezier( 0.19, 1, 0.22, 1);
        @oquin  : cubic-bezier( 0.23, 1, 0.32, 1);
        @ioexpo : cubic-bezier( 1, 0, 0, 1 );
        @ocirc  : cubic-bezier( 0.075, 0.82, 0.165, 1 );
