// stylesheet :: base styles

    // window
    html {

        background-color: darken( @app-canvas, 3.5% );

    }

    // body
    body {

        color: @text-color;

        background-color: @app-background-color;

        -webkit-font-smoothing: @antilias;

    }

    // pane container
    atom-pane-container {

        flex: 1;

    }
