// stylesheet :: editor styles

    // legacy -> remove (?)
        atom-text-editor[mini] {

            padding-left: @component-padding/2;

            color: @text-color;

            border-radius: @component-border-radius;

            background-color: @input-background-color;

            &.is-focused {

                background-color: darken(@input-background-color, 5%);

            }

        }

    // styles
        atom-text-editor {

            @{type}-family: @code-font;
            @{type}-size: 9.5px;
            @{type}-weight: 700;

            line-height: 16px;

            .cursor-line {

                // background-color: darken( @app-canvas, 1% );
                background-color: fade( @code-line-color, 1.5% );
                // background-color: transparent;

            }

            // pigments
            .pigments-native-underline .region,
            .pigments-native-underline-in-selection .region {

                height: 1px !important;
                margin-top: 14px;

            }

        }
