// stylesheet :: editor styles

    // settings
    @cursor-line : @ui-text-brite;

// styles

    // class hook
    atom-text-editor {

        line-height: 1.125rem;

        // cursor line
        .cursor-line {

            background-color: fade( @code-line-color, 3.5% );

            transition: @all220;

        }

        // class hook
        .line {

            // indent guides
            .indent-guide {

                position: relative;

                box-shadow: none;

                &:before {

                    content: '';

                    position: absolute;

                    top: 1px;
                    bottom: 0;
                    left: 0;

                    z-index: 1;

                    width: 1px;

                    border-left: 1px dotted @syntax-indent-guide-color;

                }

            }

            // custom fold marker
            .fold-marker {

                position: relative;

                display: inline-flex;

                flex-direction: row;
                justify-content: center;
                align-items: center;

                width: 1.125rem;
                height: 1.125rem;
                margin: 0 0 0 0.125rem;
                padding: 0 0 0 0;

                &:before {

                    content: '';

                    position: absolute;

                    top: -1px;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    width: 1.25rem;
                    height: 1.125rem;

                    background-image: url('atom://code-pixel-studio-ui/assets/img/icons/ui/folded.dots@2x.png');
                    background-repeat: no-repeat;
                    background-size: 20px 18px;

                    -webkit-filter: grayscale( 0.265 ) brightness( 0.845 ) opacity( 0.645 );

                    transition: @all220;

                }

                &:after {

                    display: inline-flex;
                    display: none;

                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;

                    width: 1rem;
                    height: 1.125rem;
                    margin: 0;
                    padding: 0;

                    font-size: 1rem;

                    color: fade( @text-color, 15% );

                    transition: @all220;

                }

            }

        }

        // bracket matcher
        .bracket-matcher .region {

            position: absolute;

            width: 0.3125rem !important;
            margin-left: 1px;

            border-bottom: 1px dotted @code-cursor;

        }

    }
