// stylesheet :: editor styles

    // settings
        @baller-code : 'CamingoCode';
        @editor-base : darken( @app-canvas, 2% );

    // legacy -> remove (?)
        atom-text-editor[mini] {

            padding-left: @component-padding/2;

            color: @text-color;

            border-radius: @component-border-radius;

            background-color: @input-background-color;

            &.is-focused {

                background-color: darken(@input-background-color, 5%);

            }

        }

    // styles
        atom-text-editor {

            @{type}-family: @code-font;
            @{type}-size: 9.5px;
            @{type}-weight: 600;

            // line-height: 16px;
            line-height: 1.125rem;

            letter-spacing: 0.125px;

            .cursor-line {

                background-color: fade( @code-line-color, 2% );

                transition: @all220;

            }

            .line {

                .indent-guide {

                    position: relative;

                    box-shadow: none;

                    &:before {

                        content: '';

                        position: absolute;

                        top: 1px;
                        bottom: 0;
                        left: 0;

                        z-index: 1;

                        width: 1px;

                        border-left: 1px dotted @syntax-indent-guide-color;

                    }

                }

            }

            // pigments
            .pigments-native-underline .region,
            .pigments-native-underline-in-selection .region {

                height: 1px !important;
                margin-top: 14px;

            }

        }
