// stylesheet :: git diff styles

.status {

    .name {

        // color: fade( @text-color, 42.5% );

        &:before {

            color: @text-color;

        }

    }

}
.status-added {

    .name {

        // color: fade( @text-color, 42.5% );

        &:before {

            color: @text-color-success;

        }

    }

}

.status-ignored {

    .name {

        // color: fade( @text-color, 42.5% );

        &:before {

            color: fade( @text-color, 25% );

        }

    }

}

.status-modified {

    .name {

        // color: fade( @text-color, 42.5% );

        &:before {

            color: @text-color-warning;

        }

    }

}

.status-removed {

    .name {

        // color: fade( @text-color, 42.5% );

        &:before {

            color: @text-color-error;

        }

    }

}

.status-renamed {

    .name {

        // color: fade( @text-color, 42.5% );

        &:before {

            color: @text-color-info;

        }

    }

}
