// stylesheet :: panels

    // settings
        @panel-ui-base : 16rem;

    // left panel -> tree view
    atom-panel-container {

        &.left {

            // min-width: 256px;

        }

    }

    // focus on active editor
    atom-pane {

        &.pane {

            atom-text-editor {

                // background-color: darken( @app-canvas, 6.5% );

                // transition: background-color 120ms @zipit 0ms;

                .editor--private {

                    // -webkit-filter: brightness(0.685);

                    // transition: opacity 120ms @zipit 0ms;

                }

            }

            &.active {

                atom-text-editor {

                    // background-color: darken( @app-canvas, 1% );

                    // transition: background-color 120ms @zipit 0ms;

                    .editor--private {

                        // -webkit-filter: grayscale(0.000);

                        // transition: opacity 120ms @zipit 0ms;

                    }

                }

            }

        }

    }

    .panel-heading {

        border-bottom: none;

        background-color: @panel-heading-background-color;

    }

    .inset-panel {

        background-color: @inset-panel-background-color;

        .panel-heading {

            background-color: lighten(@inset-panel-background-color, 4%);

        }

    }
