// stylesheet :: panels

    // settings
        @panel-ui-base : 16rem;


    // top-level panel/pane container
    atom-panel-container {

        // bottom panel
        &.bottom {

            border-left: 1px solid @base-border-color;

            .panel-bottom {

                border-top: 1px solid @base-border-color;

            }

        }

    }

    // base pane style
    atom-pane {

        &.pane {

            padding: 1px 0 0 0;

            border-left: 1px solid @base-border-color;

            &:before {

                content: '';

                position: absolute;

                top: 0;
                right: -1px;
                left: 0;

                z-index: 10;

                height: 1px;

                background-color: @base-border-color;

            }

        }

    }

    // specificity pane style
    atom-pane-axis {

        &.horizontal.pane-row {

            > atom-pane-axis {

                &.vertical.pane-column {

                    > atom-pane {

                        &:first-child {

                            // &:before {
                            //
                            //     left: -1px;
                            //
                            //     background-image:
                            //
                            //         linear-gradient(
                            //
                            //             90deg,
                            //             fade( @ui-text-brite, 35% ) 0%,
                            //             fade( @ui-text-yellow, 45% ) 30%,
                            //             fade( @ui-text-green, 45% ) 100%
                            //
                            //         )
                            //
                            //     ;
                            //
                            // }

                        }

                    }

                    &:only-of-type {

                        > atom-pane {

                            &:first-child {

                                // &:before {
                                //
                                //     left: -1px;
                                //
                                //     background-image:
                                //
                                //         linear-gradient(
                                //
                                //             90deg,
                                //             fade( @ui-text-purple, 75% ) 0%,
                                //             fade( @ui-text-pink, 45% ) 100%
                                //
                                //         )
                                //
                                //     ;
                                //
                                // }

                            }

                        }

                    }

                    &:nth-of-type(0n+2) {

                        > atom-pane {

                            &:first-child {

                                // &:before {
                                //
                                //     left: -1px;
                                //
                                //     background-image:
                                //
                                //         linear-gradient(
                                //
                                //             90deg,
                                //             fade( @ui-text-purple, 75% ) 0%,
                                //             fade( @ui-text-pink, 45% ) 100%
                                //
                                //         )
                                //
                                //     ;
                                //
                                // }

                            }

                        }

                    }

                }

                &.horizontal.pane-row {

                    > atom-pane {

                        &:before {

                            background-color: fade( @ui-text-orange, 55% );

                        }

                    }

                    &:only-of-type {

                        > atom-pane {

                            &:before {

                                background-color: fade( @ui-text-blue, 55% );

                            }

                        }

                    }

                }

            }

            > atom-pane {

                &:only-of-type {

                    // &:before {
                    //
                    //     background-image:
                    //
                    //         linear-gradient(
                    //
                    //             90deg,
                    //             fade( @ui-text-green, 35% ) 0%,
                    //             fade( @ui-text-blue, 45% ) 30%,
                    //             fade( @ui-text-purple, 75% ) 100%
                    //
                    //         )
                    //
                    //     ;
                    //
                    // }

                }

                &:nth-of-type(0n+1) {

                    // &:before {
                    //
                    //     left: -1px;
                    //
                    //     background-image:
                    //
                    //         linear-gradient(
                    //
                    //             90deg,
                    //             fade( @ui-text-brite, 35% ) 0%,
                    //             fade( @ui-text-yellow, 45% ) 30%,
                    //             fade( @ui-text-green, 45% ) 100%
                    //
                    //         )
                    //
                    //     ;
                    //
                    // }

                }

                &:nth-of-type(0n+2) {

                    // &:before {
                    //
                    //     left: -1px;
                    //
                    //     background-image:
                    //
                    //         linear-gradient(
                    //
                    //             90deg,
                    //             fade( @ui-text-green, 35% ) 0%,
                    //             fade( @ui-text-blue, 45% ) 30%,
                    //             fade( @ui-text-purple, 75% ) 100%
                    //
                    //         )
                    //
                    //     ;
                    //
                    // }

                }

            }

        }

    }

    .panel-heading {

        border-bottom: none;

        background-color: @panel-heading-background-color;

    }

    .inset-panel {

        background-color: @inset-panel-background-color;

        .panel-heading {

            background-color: lighten(@inset-panel-background-color, 4%);

        }

    }
