// stylesheet :: tree view

    // settings
    @dock-position : fixed;
    @dock-overlay  : darken( @app-canvas, 10% );
    @dock-backdrop : darken( @syntax-background-color, 2% );

    atom-dock {

        &.left {

            position: fixed;

            top: 0;
            bottom: 0;
            left: 0;

            z-index: 120;

            width: 18rem;
            max-width: 18rem;

            border-left: none;

            transform: translate3d( -18rem, 0, 0 );

            .atom-dock-inner {

                position: absolute;

                width: 18rem;
                // padding: 0 0 3rem 0;

                &:before {

                    content: '';

                    position: fixed;

                    top: 0;
                    right: -100vw;
                    bottom: 0;
                    left: 0;

                    z-index: -1;

                    visibility: hidden;

                    background-color: fade( @dock-overlay, 40% );

                    opacity: 0.000;

                    transition: all 20ms @ocirc 0ms;

                }

                &.atom-dock-open {

                    width: 18rem;

                    &:before {

                        visibility: visible;

                        opacity: 1.000;

                        transition: all 80ms linear 120ms;

                    }

                    .atom-dock-mask,
                    .atom-dock-content-wrapper {

                        width: 18rem !important;
                        min-width: 18rem !important;

                    }

                    .atom-dock-mask {

                        box-shadow: 2rem 0 6rem 0 fade( black, 40% );

                        transform: translate3d( 18rem, 0, 0 );

                        transition: all 540ms @ocirc 60ms;

                    }

                }

            }

            .atom-dock-mask,
            .atom-dock-content-wrapper {

                width: 18rem !important;
                min-width: 18rem !important;

            }

            .atom-dock-mask {

                transform: translate3d( 0, 0, 0 );

                transition: all 360ms @ocirc 0ms;

                background-color: transparent !important;

            }

            .atom-dock-content-wrapper {

                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                &.left {

                    position: absolute;

                    right: 0;

                    display: flex;

                    flex-direction: row-reverse;

                    // border-right: 1px solid @base-border-color;

                    atom-pane {

                        border-left: none;

                        // background-color: @tree-view-background-color;
                        background-color: fade( @dock-backdrop, 95% );
                        // background-color: transparent;

                    }

                    .tree-view {

                        > .list-tree {

                            // padding-top: 0;
                            padding: 1rem 1rem 1rem 1rem;

                        }

                    }

                    .atom-dock-resize-handle {

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;

                        z-index: 3;

                        display: flex;

                        flex: 0 0 auto;

                        width: 8px;

                        background-color: transparent;

                    }

                }

            }

        }

    }

    .tree-view-resizer {

        width: 1px;

        .tree-view-resize-handle {

            border-right: 1px solid @base-border-color;

        }

    }

    .tree-view {

        color: @text-color;

        background-color: transparent;

        .entries.list-tree {

            border-left: 1px dotted fade( @ui-text-brite, 20% );

            transition: @all220;

        }

        .list-nested-item {

            .list-item {

                &:before {

                    color: fade( @text-color, 65% );

                }

            }

        }

        // foobar
        .list-tree {

            &.has-collapsable-children {

                .list-nested-item {

                    &.directory {

                        // padding-left: 1rem;
                        // margin-left: 0;

                    }

                    > .list-tree,
                    > .list-group {

                        > li {

                            // padding-left: 1rem;
                            // margin-left: 0;

                        }

                    }

                    > .list-item {

                        &:before {

                            top: 0;
                            left: -0.125rem;

                            // margin: 0 0 0 0;

                        }

                    }

                }

            }

            &.has-collapsable-children {

                .list-item {

                    &.file {

                        // margin-left: 0.875rem;
                        // padding-left: 0.875rem;

                    }

                }

            }

        }

        .entry {

            &:hover {

                .name {

                    //

                }

            }

            &:before {

                position: absolute;

                right: -1px;

                z-index: -1;

                width: 100%;
                height: 1.5rem;

                background-color: transparent;

                transition: @all220;

            }

            .name {

                display: inline-flex;

                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                height: 0.5rem;

                @{type}-family: @indu-font;
                @{type}-size: 0.5625rem;
                @{type}-weight: 600;

                line-height: 0.5rem;

                letter-spacing: 0.025em;

                color: fade( @text-color, 42.5% );

                transition: @all220;

                &:before {

                    top: -1px;

                    color: fade( @text-color, 28.5% );

                }

            }

            &.status-ignored {

                .name {

                    &:before {

                        color: fade( @text-color, 25% );

                    }

                }

            }

            &.status-modified {

                .name {

                    &:before {

                        color: mix( @app-canvas, @ui-text-yellow, 50% );

                    }

                }

            }

            &.status-added {

                .name {

                    &:before {

                        color: mix( @app-canvas, @ui-text-green, 50% );

                    }

                }

            }

        }

        .list-item {

            display: flex;

            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            height: 1.5rem;
            // padding: 0 0 0.125rem 0;

            &:not(.header) {

                &:hover {

                    &:before {

                        background-color: fade( @text-color-selected, 3.5% );

                    }

                    > .name {

                        color: fade( @text-color, 95% );

                        transition: @all220;

                    }

                }

            }

        }

        .list-nested-item {

            &:after {

                // content: '';

                position: absolute;

                top: 0;
                right: -1px;
                // left: -1rem;

                width: 100%;
                height: 1.5rem;

                background-color: red;

                opacity: 0.000;

                transition: @all220;

            }

            &:hover {

                &:after {

                    // opacity: 0.675;

                    transition: @all220;

                }

            }

            &.collapsed {

                &:hover {

                    &:before {

                        background-color: fade( @text-color-selected, 3.5% );

                    }

                }

            }

            &.expanded {

                &:hover {

                    > &:before {

                        background-color: fade( @text-color-selected, 3.5% );

                    }

                    &:after {

                        opacity: 1.000;

                    }

                    > .header {



                    }

                }

                &.selected {

                    .entries.list-tree {

                        border-left: 1px dotted fade( @ui-text-brite, 95% );

                        transition: @all220;

                    }

                }

            }

        }

        .list-nested-item,
        .list-item {

            > &:before {

                right: -1px;

                width: 100%;
                height: 1.5rem;

                background-color: fade( @text-color, 5% );

                transition: @all220;

            }

            &.selected {

                &:before {

                    right: -1px;

                    width: 100%;
                    height: 1.5rem;

                    // background-color: fade( @text-color, 5% );
                    background-color: darken( @base-border-color, 2.5% );

                    transition: @all220;

                }

            }

        }

        .list-nested-item.selected {

            > .header {

                > .name {

                    color: @text-color-selected;

                    &:before {

                        // color: fade( @text-color-selected, 85% );
                        color: fade( @ui-text-brite, 95% );

                        transition: @all220;

                    }

                }

            }

        }

        .list-item.selected {

            &.status-modified {

                .name {

                    &:before {

                        color: @ui-text-yellow;

                    }

                }

            }

            &.status-added {

                .name {

                    &:before {

                        color: @ui-text-green;

                    }

                }

            }

            .name {

                color: @text-color-selected;
                // color: @gold;
                // color: @ui-text-brite;

                &:before {

                    // color: fade( @text-color-selected, 85% );
                    color: @ui-text-brite;

                    transition: @all220;

                }

            }

        }

    }
